.Footer {
    font-style:initial;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(236, 239, 241);
    background-color: rgb(180, 70, 70);
  }

  .Footer {
    width: 100%;
    text-align: center;
  }
  

  